# User specific configuration files
/myconfig/

# Make targets
/*.done
/done/*.done

# Make build
/build/
/dist/
/zhmc_os_forwarder/_version_scm.py
/*.egg-info/
/AUTHORS
/ChangeLog
/MANIFEST
/MANIFEST.in

# Make test
__pycache__/
/.pytest_cache/
/htmlcov/
/.coverage

# Make build_doc
/build_docs/

# Other
*.swp
.DS_Store
/try/
*.log
