# ------------------------------------------------------------------------------
# Pip requirements file for packages needed for installation.
#
# Note: The dependencies in this file will become the dependencies stated
# in the Pypi package metadata.


# ------------------------------------------------------------------------------
# Direct dependencies for installation.
# Must be consistent with minimum-constraints-install.txt.

# zhmcclient @ git+https://github.com/zhmcclient/python-zhmcclient.git@master
zhmcclient>=1.18.2

urllib3>=2.2.3; python_version == '3.8'
urllib3>=2.6.0; python_version >= '3.9'
jsonschema>=4.18.0

# PyYAML pulled in by zhmcclient, dparse, python-coveralls
PyYAML>=6.0.2


# ------------------------------------------------------------------------------
# Indirect dependencies for installation that are needed for some reason.
# Must be consistent with minimum-constraints-install.txt.

# pyrsistent is pulled in by jsonschema.
pyrsistent>=0.20.0
