# Pip requirements file for install dependencies.

# Note: The dependencies in this file will become the dependencies stated
# in the Pypi package metadata.


# Direct dependencies for install (must be consistent with minimum-constraints-install.txt)

# zhmcclient @ git+https://github.com/zhmcclient/python-zhmcclient.git@master
zhmcclient>=1.16.1

urllib3>=1.26.19
jsonschema>=3.2.0

# PyYAML pulled in by zhmcclient, dparse, python-coveralls
# PyYAML 5.3 has wheel archives for Python 2.7, 3.5 - 3.9
# PyYAML 5.4 has wheel archives for Python 2.7, 3.6 - 3.9
# PyYAML 6.0 has wheel archives for Python 3.6 - 3.11
# PyYAML 5.4 and 6.0.0 fails install since Cython 3 was released, see issue
#   https://github.com/yaml/pyyaml/issues/724.
PyYAML>=5.3.1,!=5.4.0,!=5.4.1; python_version <= '3.11'
PyYAML>=5.3.1,!=5.4.0,!=5.4.1,!=6.0.0; python_version >= '3.12'


# Indirect dependencies for install that are needed for some reason (must be consistent with minimum-constraints-install.txt)

# pyrsistent is pulled in by jsonschema.
# pyrsistent 0.15.0 fixes import errors on Python>=3.10, but only 0.18.1 has
# Python 3.10 support (accordong to the change log).
pyrsistent>=0.18.1
